<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Are You Sure You Want To Delete <%= selectedBook.title %> ?</h2>
    <a href="http://localhost:3000/"><button>Home Page</button></a><br><br>
    <form id="deletion" action= "/delete/<%= selectedBook._id %>" method="DELETE">
        <label for="deleteInput">Deleting Book:</label><br>
        <input type="hidden" id="deleteInput" name="deleteInput"><br> 
        <input type="submit" value="Submit">
    </form>
</body>
</html>